<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:allowBackup="true" android:label="ArcLedger" android:supportsRtl="true" android:theme="@style/Theme.ArcLedger">
        <activity android:name="com.arcvision.arcledger.ui.main.MainActivity" />
        <activity android:name="com.arcvision.arcledger.ui.splash.SplashActivity" android:exported="true">
            <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
        </activity>
    </application>
</manifest>
